<div style="width: 250px;">
    <h2 mat-dialog-title style="text-align: center;margin-top: -10px;">Personal Profile</h2>

    <mat-icon style="float: left;">account_circle</mat-icon><div style="margin-left: 30px;font-size: 15px;font-weight: 500;">{{profile.email}}</div>
    <i class="fa fa-home icon" style="font-size: 20px; margin-top: 10px;margin-left: -21px; float: left;" ></i>
    <div style="margin-top: 11px;font-size: 14px;margin-left: 28px;">Address : {{profile.address}}</div>
    <i class="fa fa-phone" style="font-size: 20px; margin-top: 10px;margin-left: 5px; float: left;" ></i>
    <div style="margin-top: 10px;font-size: 14px;margin-left: 28px;">Mobile No : {{profile.phoneNo}}</div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">