
<div class="field">
    <form [formGroup]="register" (ngSubmit)="onSubmit()" class="example-form">
        <h1 class="center">UPDATE</h1>
    <mat-form-field appearance="fill" [style.width.px]=227>
        <mat-label>Enter your email</mat-label>
        <!-- <input matInput formControlName="email" #email required> -->
        <input matInput disabled value="{{defaulEmail}}">
    </mat-form-field>
    <br><br>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="password" #pass required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br><br>
    <mat-form-field appearance="fill">
        <mat-label>Enter your confirm password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your confirm password" formControlName="confirm" #confirm required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br><br>
    <button mat-flat-button color="warn" type="submit">UPDATE</button>
    </form>
  </div>
